/* layout */
*{
	margin: 0;
	border: 0;
	padding: 0;
	outline: none;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th{
	border: 1px solid #000 !important;
}

th {
    text-align: center !important;/*centraliza th*/
  	background-color: #CEECF5;
}

td, .cent {
    text-align: center !important;/*centraliza td*/
}

a{
	text-decoration: none !important;
}


.alert-error {
    color: #b94a48 !important;
    background-color: #f2dede !important;
    border-color: #eed3d7 !important;
}

.alert {
padding: 8px 35px 8px 14px;
margin-bottom: 20px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin-top: 45px;
}

.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}

.content-header>.breadcrumb {
    font-size: 16px !important;
}    

/* para clicar no menu e aparecer selecionado o que clicou*/

.sidebar-menu li a.active {
cursor: default;
color: #fff;
/*background: #1e282c;*/
background: #2a414b;
border-left-color: #3c8dbc;
}


/* para as vendas */
.title{
    background: #FFFFFF;
    margin: 0.5% 1.1% 1.0% 1.1%;
    padding: 0.5%;
    border-radius: 4px;
}

.title2{
    background: #FFFFFF;
    /*margin: 0.5% 1.1% 0 1.1%;*/
   margin: 0.5% 0.1% 1% -0.9%;
    padding: 0.1%;
    border-radius: 4px;
}

.title3{
    background: #00c0ef;
    margin: 0.5% 1.1% 1.0% 1.1%;
    padding: 0.5%;
    border-radius: 4px;
}

.title4{
    background: #CEECF5;
    margin: 0.5% 1.1% 0 0.1%;
    padding: 0.1%;
    border-radius: 4px;
}

.info-box-number{
    font-size: 24px !important;
    border-radius: 4px;
}

.font4 {    
    font-family:Verdana, Helvetica, sans-serif;
    font-size:18px;
    color:#363535;
    border-radius: 4px;
}

.font5 {    
    font-family:Verdana, Helvetica, sans-serif;
    font-size:28px;
    color:#363535;
    border-radius: 4px;
}



/* para fixar o menu */
.main-header {
    position:fixed;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
    width:100%;
}

.container, .img1  {
    margin-top: 38px;
}

.content-header > .breadcrumb {
margin-top: 34px;
}

/*--------------- PARA MAPA --------------*/


#map {
    height: 96%;    
    width: 84%;
    position: absolute !important;
    margin: 0px 0px 0px -30px;
}


/* cadastro.php */
.form_cadastro h3{
    text-transform: uppercase;
}

.form_cadastro form{
    margin-top: 15px;
}

.btn_cadastrar{
    margin-top: 10px !important;    
    margin-bottom: 20px !important; 
}

.btn_limpar{
    margin-top: 10px !important;    
    margin-left: -7px;
}


.btn_lista_salvar{
    margin-left: 84px;
}
.btn_lista_salvar1{
    margin-top: 10px !important;    
    margin-bottom: 20px !important; 
}

/*BOTÕES NO TOPO DAS PÁGINAS*/

.btn_inicio{
    margin-left: 6px;
}

.btn_lista_reciclagem{
    width: 100%;
}


.logo button{
    text-transform: uppercase;
}